.corner{
    position: absolute;
    top: 56px;
    left: -17px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #2c2c2c;
    corner-shape: scoop;
}